body{
    padding: 10px;
    background-color: antiquewhite;
    
}
.bar{
    background-color: orange;
    display: flex;
    
    border-radius: 20px;
    margin: 5px;
    height: 20vh;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
.container{
    display: flex;
    width: 95vw;
    border-radius: 20px;
    justify-content:space-around;
    
    
}

.left{
    background-color: yellow;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
margin: 10px;
width: 45vw;


}
.right{
    background-color: blue;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
margin: 10px;
width: 45vw;
}
.miniblock{
    border-radius: 20px;
background-color: green;

margin: 10px;
padding: 20px;
width: 15vw;
height: 15vh;
justify-content: center;
align-items: center;
display: flex   ;
